@font-face {
  font-family: "MarkaziText";
  src: url(../../assets/fonts/MarkaziText/MarkaziText-SemiBold.ttf);
}

.mat-toolbar{
  font-family: "MarkaziText";
  background-color: black;
  font-size:50px;
  color:#c21930;
  text-shadow: 2px 2px white;
  transition: transform 1s, color 1s, text-shadow 4s;
  cursor:default;
}

.contenedor{
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.contenido{
  display: table-cell;
  vertical-align: middle;
}
