#datos{
  padding:25px;
  height:200px;
  width:60%;
  background-color: white;
}

#preguntas{
  margin-top:20px;
  padding:25px;
  height:200px;
  width:80%;
  background-color: white;
}

td{
  border:1px solid gainsboro;
}

mat-radio-button{
  margin-right:10px;
}

button{
  margin:10px;
}

.bg_buttons{
  background-color: white;
  width:252px
}
