<table id="datos">
  <tr class="row">
    <td>
      <label>NOMBRE</label>
    </td>
    <td>{{datosPadron[0].nombre + " " + datosPadron[0].apellido_paterno + " " + datosPadron[0].apellido_materno | titlecase}} </td>
  </tr>
  <tr class="row">
    <td>
      <label>TELEFONO</label>
    </td>
    <td>{{datosPadron[0].telefono}} </td>
  </tr>
  <tr class="row">
    <td>
      <label>MAIL</label>
    </td>
    <td>{{datosPadron[0].email | lowercase}} </td>
  </tr>
  <tr class="row">
    <td>
      <label>EMPRESA</label>
    </td>
    <td>{{ datosPadron[0].manipuladora | empresa }} </td>
  </tr>
  <tr class="row">
    <td>
      <label>BODEGA</label>
    </td>
    <td>{{datosPadron[0].bodega | titlecase}} </td>
  </tr>
</table>

<table id="preguntas">
  <tr class="row">
    <td>
      <label>{{preguntas[0].pregunta}}</label>
    </td>
    <td>
      <mat-radio-group aria-label="p1" name="p1" [(ngModel)]="p1" (change)="algo($event)">
        <mat-radio-button value="631591ba9240c113e4e450dc">Sí</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450dd">No</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450de">No responde</mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
  <tr class="row">
    <td>
      <label>{{preguntas[1].pregunta}}</label>
    </td>
    <td>
      <mat-radio-group aria-label="p2" name="p2" [(ngModel)]="p2">
        <mat-radio-button value="631591ba9240c113e4e450dc">Sí</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450dd">No</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450de">No responde</mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
  <tr class="row">
    <td>
      <label>{{preguntas[2].pregunta}}</label>
    </td>
    <td>
      <mat-radio-group aria-label="p3" name="p3" [(ngModel)]="p3">
        <mat-radio-button value="631591ba9240c113e4e450dc">Sí</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450dd">No</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450de">No responde</mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
  <tr class="row">
    <td>
      <label>{{preguntas[3].pregunta}}</label>
    </td>
    <td>
      <mat-radio-group aria-label="p4" name="p4" [(ngModel)]="p4">
        <mat-radio-button value="631591ba9240c113e4e450dc">Sí</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450dd">No</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450de">No responde</mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
  <tr class="row">
    <td>
      <label>{{preguntas[4].pregunta}}</label>
    </td>
    <td>
      <mat-radio-group aria-label="p5" name="p5" [(ngModel)]="p5">
        <mat-radio-button value="631591ba9240c113e4e450dc">Sí</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450dd">No</mat-radio-button>
        <mat-radio-button value="631591ba9240c113e4e450de">No responde</mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
</table>


<button mat-raised-button color="primary" id="btnguardar" (click)="guardar()">Guardar</button>
<button mat-raised-button color="warn" id="btnespera" (click)="espera()">Dejar en espera</button>
