<button mat-icon-button (click)="refresh()">
  <mat-icon>refresh</mat-icon>

</button>
<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="gray">
      <input matInput #filter placeholder="Filtrar usuarios">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource!" matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="rut">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rut</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.rut}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.apellido}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.correo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pass</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pass}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.telefono}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.rut, row.nombre, row.apellido, row.correo, row.user, row.pass, row.telefono)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.rut, row.nombre, row.apellido, row.correo)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource!.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource!.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
