
<div class="text-center titulo-login">LOGIN
<form #userLogin = "ngForm" [formGroup]="loginForm" novalidate (ngSubmit)="submit(userLogin.value)">
  <div class="form-group">
    <input type="input" class="form-control" formControlName="userName" placeholder="Usuario">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" placeholder="Constraseña">
  </div>
  <div class="text-center div-btnsubmit">
    <button mat-button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Ingresar</button>
  </div>
  <!-- <div class="text-center div-recuperar">Recuperar contraseña</div> -->
</form>
</div>
