/* You can add global styles to this file, and also import other style files */
body{
  overflow-x: hidden;
  height:100%;
  width:100%;
}
html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.estirar{
  width:95%;
  margin-left:2.5%;
}

#content {
  height: 300px;
  text-align: center;
  font-size: 26px;
  color: #000;
  position:relative;
}

#fondo{
  width:100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url('./assets/images/trama_back_app.svg')  0% 0% repeat;
  background-size:120px;
  margin: 0 auto;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  display: flex;

  animation: scroll 100s linear infinite
}
@keyframes scroll {
  100% {
    background-position:0px -3000px;
  }
}
