<mat-sidenav-container id="wrapper">
  <mat-sidenav #sidenav mode="side" opened id="sidebar">

    <div class="sidebar-header">
      DeliBest
    </div>
    <div id="usuario">
      <h1>Isidora Flores</h1>
      <h3>Administradora</h3>
    </div>
    <mat-nav-list class="sidebar-nav">
      <mat-list-item class="sidebar-brand" routerLink="reporte" routerLinkActive="active">
        <mat-icon mat-list-icon>assessment</mat-icon>
        Reporte
      </mat-list-item>
      <mat-list-item class="sidebar-brand" routerLink="asignar" routerLinkActive="active">
        <mat-icon mat-list-icon>assignment</mat-icon>
        Asignar
      </mat-list-item>
      <mat-list-item class="sidebar-brand">
        <mat-icon mat-list-icon>person</mat-icon>
        Usuarios
      </mat-list-item>
      <mat-list-item class="sidebar-brand">
        <mat-icon mat-list-icon>meeting_room</mat-icon>
        Empresas
      </mat-list-item>
      <mat-list-item class="sidebar-brand">
        <mat-icon mat-list-icon>pie_chart</mat-icon>
        Estadísticas
      </mat-list-item>
      <mat-list-item class="sidebar-brand" routerLink="llamadas" routerLinkActive="active">
        <mat-icon mat-list-icon>call</mat-icon>
        Llamadas
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
<router-outlet></router-outlet>
</mat-sidenav-container>
