@font-face {
  font-family: "MarkaziText";
  src: url(../../../../assets/fonts/MarkaziText/MarkaziText-SemiBold.ttf);
}

#wrapper{
  overflow-x:hidden;
}

#sidebar{
  min-width: 300px;
  max-width: 300px;
  background: rgb(95,173,211);
  background: linear-gradient(180deg, rgba(95,173,211,1) 0%, rgba(21,79,118,1) 79%);
  min-height:100vh;
  color: white;
  text-align: center;
  position:fixed;
}
mat-nav-list{
  color:white;
}
#usuario{
  background-color: #6DB2DB;
}

.mat-list-item{
  color:white;
}

mat-sidenav-container{
  background: none;
}

mat-toolbar{
  background-color: rgba(215,225,226,1);
  display:flex;
}

#logosistema{
  height:40%;
  cursor:pointer;
  transition: transform .1s;
}
#logosistema:hover{
  transform: scale(1.1);
}


.sidebar-header{
  margin-top:15px;
  height:40px;
  font-family: "MarkaziText";
  font-size:50px;
  color:white;
  text-shadow: 2px 2px #06273a;
  transition: transform 1s, color 1s, text-shadow 4s;
  cursor:default;
}

.menu:hover .sidebar-header{
  // transform: scale(1.2);
  // transform:rotateZ(180deg)
  // transform:rotate3d(1, -1, 0, 30deg); :(
  color:#c21930;
  text-shadow:2px 2px white;
}

#routera{
  margin:2.5%;
}


.spacer{
  flex-grow: 1;
}
