// .container{
//   background:blue;
//   width:1920px;
// }

// .col{
//   background:white;
//   margin:10px
// }

// .row{
//   width:100%;


// }

@font-face {
  font-family: "MarkaziText";
  src: url(../../../../assets/fonts/MarkaziText/MarkaziText-SemiBold.ttf);
}

.sidebar-header{
  margin-top:15px;
  height:40px;
  font-family: "MarkaziText";
  font-size:50px;
  color:#ce0020;
  text-shadow: 0.5px 0.5px white;
}

#wrapper{
  overflow-x:hidden;
}

#sidebar{
  min-width: 300px;
  max-width: 300px;
  background: rgb(95,173,211);
  background: linear-gradient(180deg, rgba(95,173,211,1) 0%, rgba(21,79,118,1) 79%);
  min-height:100vh;
  color: white;
  text-align: center;
  position:fixed;
}
mat-nav-list{
  color:white;
}
#usuario{
  background-color: #6DB2DB;
}

.mat-list-item{
  color:white;
}

// #wrapper {
//   overflow-x: hidden;
// }

// #sidebar-wrapper {
//   min-height: 100vh;
//   margin-left: -15rem;
//   -webkit-transition: margin .25s ease-out;
//   -moz-transition: margin .25s ease-out;
//   -o-transition: margin .25s ease-out;
//   transition: margin .25s ease-out;
// }

// #sidebar-wrapper .sidebar-heading {
//   padding: 0.875rem 1.25rem;
//   font-size: 1.2rem;
// }

// #sidebar-wrapper .list-group {
//   width: 15rem;
// }

// #page-content-wrapper {
//   min-width: 100vw;
// }

// body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
//   margin-left: 0;
// }

// @media (min-width: 768px) {
//   #sidebar-wrapper {
//       margin-left: 0;
//   }

//   #page-content-wrapper {
//       min-width: 0;
//       width: 100%;
//   }

//   body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
//       margin-left: -15rem;
//   }
// }
