<mat-sidenav-container id="wrapper">
  <mat-sidenav #sidenav mode="side" opened id="sidebar" class="menu">

    <div class="sidebar-header">
      <span id=logodelibest>DeliBest</span>
    </div>
    <!-- <div>
      <img src="../../../../assets/images/avatar_ap.png">
    </div> -->
    <div id="usuario">
      <h1>{{auth.nombre + " " + auth.apellido}}</h1>
      <h3>{{auth.tipo | tipousuario}}</h3>
    </div>
    <mat-nav-list class="sidebar-nav">
      <span *ngIf="auth.tipo == '6311110c9582ca5ed94ede0d'; else anal">

        <mat-list-item class="sidebar-brand" routerLink="reporte" routerLinkActive="active">
          <mat-icon mat-list-icon>assessment</mat-icon>
          Reporte
        </mat-list-item>
        <mat-list-item class="sidebar-brand" routerLink="estadisticas" routerLinkActive="active">
          <mat-icon mat-list-icon>pie_chart</mat-icon>
          Estadísticas
        </mat-list-item>
        <mat-list-item class="sidebar-brand" routerLink="asignar" routerLinkActive="active">
          <mat-icon mat-list-icon>assignment</mat-icon>
          Asignar
        </mat-list-item>
        <mat-list-item class="sidebar-brand" routerLink="usuarios" routerLinkActive="active">
          <mat-icon mat-list-icon>person</mat-icon>
          Usuarios
        </mat-list-item>
      </span>
      <!-- <mat-list-item class="sidebar-brand" routerLink="empresas" routerLinkActive="active">
        <mat-icon mat-list-icon>meeting_room</mat-icon>
        Empresas
      </mat-list-item> -->
      <ng-template #anal>
        <mat-list-item class="sidebar-brand" routerLink="llamadas" routerLinkActive="active">
          <mat-icon mat-list-icon>call</mat-icon>
          Llamadas
        </mat-list-item>
      </ng-template>
      <div class="spacer"></div>
      <mat-list-item class="sidebar-brand" (click)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        Cerrar sesión
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <img id="logosistema" src="../../../../assets/images/LOGO_SistemaEncuestaManipuladoras.png"> -->
    <img id="logosistema" title="Alternar menú" src="../../../../assets/images/LOGO_SistemaEncuestaManipuladoras.png" (click)="sidenav.toggle()">
  </mat-toolbar>
    <router-outlet id="routera"></router-outlet>
</mat-sidenav-container>
